<div class="bg-light px-4 py-3 text-uppercase font-weiht-bold">
    Sepet Özeti
</div>
<div class="p-4">
    <p class="font-italic mb-4">Ödeme sırasında yapılan seçimlere bağlı olarak nakliye masrafları eklenecektir.</p>
    <ul class="list-unstyled mb-4" *ngIf="(basketTotal$| async)">
        <li class="d-flex justify-content-between py-3 border-bottom">
            <strong class="text-muted">Sipariş Toplamı</strong>
            <strong>{{(basketTotal$| async).subTotal |currency}}</strong>
        </li>

        <li class="d-flex justify-content-between py-3 border-bottom">
            <strong class="text-muted">Kargo</strong>
            <strong>{{(basketTotal$| async).shipping}}</strong>
        </li>
      
        <li class="d-flex justify-content-between py-3 border-bottom">
            <strong class="text-muted">Genel Toplam</strong>
            <strong>{{(basketTotal$ | async).total | currency}}</strong>
        </li>
    </ul>
</div>